@import "tailwindcss";

@theme {
  --color-white: #FFFFFF;

  --color-neutral-50: #F5F6F9;
  --color-neutral-400: #A8ADB7;
  --color-neutral-500: #6D6F73;
  --color-neutral-700: #393A3C;
  --color-neutral-900: #202326;

  --color-purple-200: #EECFFC;
  --color-purple-500: #7B1FA2;
  --color-purple-700: #580F78; 

  --color-teal-50: #F2FAFA;
  --color-teal-400: #00A296;
  --color-teal-600: #027A7A;

  --color-yellow-500: #FFB300;

  --color-green-500: #02A117;

  --color-text-light: #6D6F73;
  --color-decorative-divirders-gray: #CDD1D9;
  --color-decorative-icons-gray: #A8ADB7;
}

:root {

}

body {
  background: var(--color-white);
  color: var(--color-neutral-700);
  font-family: var(--font-nunito);
}
